:root {
    --primary-color: #4CAF50;
    --secondary-color: #81C784;
    --background-color: #F1F8E9; /* Vert clair pour le fond */
    --text-color: #333;
    --button-hover-color: #388E3C;
    --form-background-color: #ffffff;
    --input-border-color: #C8E6C9;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--form-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form p {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
}

input[type="text"], input[type="email"], input[type="password"], select {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 16px;
}

input:focus, select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-primary:hover {
    background-color: var(--button-hover-color);
}
