{% extends 'Ecomed/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'ecomed_change_password.css' %}">
{% endblock %}

{% block content %}
<!-- Logo avec lien vers l'accueil -->
<a href="{% url 'home' %}" class="logo">
    <img src="{% static 'images/logo.png' %}" alt="Logo">
</a>

<div class="container">
    <h1>Changer le mot de passe</h1>
    
    <!-- Affichage des messages d'erreur -->
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% if field.errors %}
                    <div class="error-list">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="error-list">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        
        <!-- Champ pour l'ancien mot de passe -->
        <div class="form-group password-field">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            <i class="fas fa-eye toggle-password" data-target="{{ form.old_password.id_for_label }}"></i>
        </div>
        
        <!-- Champ pour le nouveau mot de passe -->
        <div class="form-group password-field">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            <i class="fas fa-eye toggle-password" data-target="{{ form.new_password1.id_for_label }}"></i>
        </div>
        
        <!-- Champ pour la confirmation du nouveau mot de passe -->
        <div class="form-group password-field">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            <i class="fas fa-eye toggle-password" data-target="{{ form.new_password2.id_for_label }}"></i>
        </div>
        
        <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
    </form>
</div>
{% endblock %}

<!-- Inclure le JavaScript pour afficher/masquer les mots de passe -->
<script src="{% static 'toggle-password.js' %}"></script>
