<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mettre à jour les informations du manager</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Mettre à jour les informations du manager</h2>
        <form method="post" class="update-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Mettre à jour</button>
        </form>
    </div>
</body>
</html>
